<!doctype html>
<html ng-app="app" ng-controller="BinaryController as c">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="192x192" type="image/png" href="https://www.binary.com/images/favicons/favicon-192x192.png" />
    <link rel="icon" sizes="160x160" type="image/png" href="https://www.binary.com/images/favicons/favicon-160x160.png" />
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.binary.com/images/favicons/favicon-96x96.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="https://www.binary.com/images/favicons/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="https://www.binary.com/images/favicons/favicon-32x32.png" />

    <title>Binary Trader</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="./binary-live-api.js"></script>
    <script src="./common-function.js"></script>

    <style>
        .tradingview {
            border: none;
            width: 100%;
            height: 840px;
        }
    </style>

</head>

<body>

<div class="container-fluid no-gutters" style="padding-left: 0; padding-right: 0;">
    <div class="row no-gutters">
        <div class="col-8">
            <iframe class="tradingview" src="https://tradingview.binary.com/v1.3.10/main.html"></iframe>
        </div>
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card border-primary mb-3">
                            <div class="card-header bg-primary text-white">
                                Configure
                            </div>
                            <div class="card-body">
                                <!--<h5 class="card-title">Special title treatment</h5>-->
                                <div class="form-group row">
                                    <label for="inputToken" class="col-sm-3 col-form-label">Token</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputToken" placeholder="Token" ng-model="config.token">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSymbol" class="col-sm-3 col-form-label">Symbol</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputSymbol" placeholder="Symbol" ng-model="config.symbol">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputInitStake" class="col-sm-3 col-form-label">Init Stake</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputInitStake" placeholder="Symbol" ng-model="config.initStake">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <a href="#"
                                       ng-click="authorize()"
                                       class="btn btn-primary" ng-class="{ disabled: status != 'Connected' }">Authorize</a>
                                    <span ng-show="isAuthorizing()">&nbsp;Authorizing...</span>
                                </div>
                                <div style="font-size: 0.8em">
                                    <div>
                                        Second {{second}}:
                                        Open <mark>{{lastCandle().open}}</mark>&nbsp;
                                        High <mark>{{lastCandle().high}}</mark>&nbsp;
                                        Low <mark>{{lastCandle().low}}</mark>&nbsp;
                                        Close <mark>{{lastCandle().close}}</mark>&nbsp;
                                    </div>
                                    <div>
                                        BB <mark>{{bb[0]}}</mark>&nbsp;<mark>{{bb[1]}}</mark>&nbsp;<mark>{{bb[2]}}</mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-info mb-3" ng-show="isAuthorized()">
                            <div class="card-header bg-info text-white">
                                Balance: <span ng-show="balance">${{balance}}</span>
                            </div>
                            <div class="card-body">
                                <!--<h5 class="card-title">Special title treatment</h5>-->
                                <div class="form-group row">
                                    <label for="inputDuration" class="col-sm-4 col-form-label">Duration</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputDuration" ng-model="config.duration">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputStake" class="col-sm-4 col-form-label">Stake (Level {{level}})</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="inputStake" placeholder="Stake" ng-model="stake">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputProfit" class="col-sm-4 col-form-label">Profit</label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control-plaintext" id="inputProfit" ng-value="potentialProfit()">
                                    </div>
                                </div>
                                <!--<p>Profit:  ${{potentialProfit()}}</p>-->
                                <div class="row mb-3">
                                    <div class="col"><button ng-click="buyContract('PUT')" class="btn btn-block btn-danger">PUT</button></div>
                                    <div class="col"><button ng-click="buyContract('CALL')" class="btn btn-block btn-success">CALL</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-success mb-3" ng-show="isAuthorized()">
                            <div class="card-header bg-success text-white">
                                Trades
                            </div>
                            <div class="card-body">
                                <table class="table table-hover" style="font-size: 0.85em;">
                                    <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Contract Id</th>
                                        <th>Type</th>
                                        <th class="text-right">Amount</th>
                                        <th class="text-right">Profit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='contract in contracts'>
                                        <td><abbr title="{{formatTime(contract.purchase_time)}}">{{contract.purchase_time}}</abbr></td>
                                        <td>{{contract.contract_id}}</td>
                                        <td>{{contract.contract_type}}{{getTimeout(contract)}}</td>
                                        <td class="text-right">${{contract.buy_price}}</td>
                                        <td class="text-right text-emphasis">
                                            <span class="{{getContractStatusBackground(contract)}} {{getContractStatusColor(contract)}}">{{getProfit(contract)}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    if (Notification.permission !== "granted")
        Notification.requestPermission();
</script>

<script src="./app.js"></script>

</html>
