<!doctype html>
<html ng-app="app" ng-controller="BinaryController as c">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="192x192" type="image/png" href="https://www.binary.com/images/favicons/favicon-192x192.png" />
    <link rel="icon" sizes="160x160" type="image/png" href="https://www.binary.com/images/favicons/favicon-160x160.png" />
    <link rel="icon" sizes="96x96" type="image/png" href="https://www.binary.com/images/favicons/favicon-96x96.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="https://www.binary.com/images/favicons/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="https://www.binary.com/images/favicons/favicon-32x32.png" />

    <title>Binary Trader</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="./binary-live-api.js"></script>
    <script src="./common-function.js"></script>

    <style>
        .tradingview {
            border: none;
            width: 100%;
            height: 840px;
        }
    </style>

</head>

<body>

<div class="container-fluid no-gutters" style="padding-left: 0; padding-right: 0;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <iframe class="tradingview" src="https://tradingview.binary.com/v1.3.10/main.html"></iframe>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card border-primary mb-3">
                            <div class="card-header bg-primary text-white">
                                Configure
                            </div>
                            <div class="card-body">
                                <!--<h5 class="card-title">Special title treatment</h5>-->
                                <div class="form-group form-row">
                                    <!--<label for="inputToken" class="col-sm-3 col-form-label">Token</label>-->
                                    <div class="input-group input-group-sm col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Token</span>
                                        </div>
                                        <input type="text" class="form-control" id="inputToken" placeholder="Token" ng-model="config.token">
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <div class="input-group input-group-sm col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Initial&nbsp;</span>
                                        </div>
                                        <input type="text" class="form-control" id="inputInitStake" placeholder="Symbol" ng-model="config.initStake">
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Symbol</span>
                                        </div>
                                        <select class="form-control" id="inputSymbol" ng-model="config.symbol">
                                            <option value="R_10">R_10</option>
                                            <option value="R_25">R_25</option>
                                            <option value="R_50">R_50</option>
                                            <option value="R_75">R_75</option>
                                            <option value="R_100">R_100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button ng-click="authorize()" class="btn btn-primary btn-sm" ng-class="{ disabled: status != 'Connected' }">Authorize</button>
                                    <span ng-show="isAuthorizing()">&nbsp;Authorizing...</span>
                                </div>
                                <div style="font-size: 0.8em">
                                    <div>
                                        Open <mark>{{lastCandle().open}}</mark>&nbsp;
                                        High <mark>{{lastCandle().high}}</mark>&nbsp;
                                        Low <mark>{{lastCandle().low}}</mark>&nbsp;
                                        Close <mark>{{lastCandle().close}}</mark>&nbsp;
                                    </div>
                                    <div>
                                        BB <mark>{{bb[0]}}</mark>&nbsp;<mark>{{bb[1]}}</mark>&nbsp;<mark>{{bb[2]}}</mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card border-success mb-3" ng-show="isAuthorized()">
                            <div class="card-header bg-success text-white">
                                Trades
                            </div>
                            <div class="card-body" style="overflow: auto; height: 240px;">
                                <table class="table table-hover" style="font-size: 0.85em;">
                                    <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Contract Id</th>
                                        <th>Type</th>
                                        <th class="text-right">Amount</th>
                                        <th class="text-right">Profit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat='contract in contracts'>
                                        <td><abbr title="{{formatTime(contract.purchase_time)}}">{{contract.purchase_time}}</abbr></td>
                                        <td>{{contract.contract_id}}</td>
                                        <td>{{contract.contract_type}}{{getTimeout(contract)}}</td>
                                        <td class="text-right">${{contract.buy_price}}</td>
                                        <td class="text-right text-emphasis">
                                            <span class="{{getContractStatusBackground(contract)}} {{getContractStatusColor(contract)}}">{{getProfit(contract)}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="card border-info mb-3" ng-show="isAuthorized()">
                            <div class="card-header bg-info text-white">
                                Watch</span>
                            </div>
                            <div class="card-body">
                                <h2 class="text-center">{{second}}</h2>
                                <h3 class="text-center">{{signal}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card border-dark mb-3" ng-show="isAuthorized()">
                            <div class="card-header bg-dark text-white">
                                Balance: <span ng-show="balance">{{balance | currency}} </span> <span class="float-right">Profit: {{profit | currency}}</span>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="input-group input-group-sm col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Duration</span>
                                        </div>
                                        <input type="number" class="form-control" id="inputDuration" ng-model="config.duration">
                                        <div class="input-group-append">
                                            <span class="input-group-text">s</span>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-sm col">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control" id="inputStake" placeholder="Stake" ng-model="stake">
                                        <!--<div class="input-group-append">-->
                                            <!--<span class="input-group-text">$</span>-->
                                        <!--</div>-->
                                        <div class="input-group-append">
                                            <span class="input-group-text text-white bg-success border-success">P: ${{potentialProfit()}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img class="d-block mb-3 mx-auto" src="https://www.binary.com/images/pages/trade/fall_1.png"/>
                                        <button ng-click="buyContract('PUT')" class="btn btn-block btn-danger">PUT</button>
                                        <button ng-click="buyContractInCandle('PUT')" class="btn btn-block btn-danger">PUT CANDLE</button>
                                    </div>
                                    <div class="col">
                                        <img class="d-block mb-3 mx-auto" src="https://www.binary.com/images/pages/trade/rise_1.png"/>
                                        <button ng-click="buyContract('CALL')" class="btn btn-block btn-success">CALL</button>
                                        <button ng-click="buyContractInCandle('CALL')" class="btn btn-block btn-success">CALL CANDLE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    if (Notification.permission !== "granted")
        Notification.requestPermission();
</script>

<script src="./app.js"></script>

</html>
